body {
    padding: 20px;
    height: 100%;
    margin-top: 0%;
    margin-left: 100px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 200%;
    overflow-x: hidden;
  }

#background-image {
    background-image: url("gravel.png");
    width: 100%;
    height: 200%;
    position: absolute;
    top: 93px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #4aaaa5;
  }

.container-index {
    width: 960px;
    height: 750px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 40px;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 100px;
    color: #777777
  }

.container-portfolio {
    width: 960px;
    height: 900px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 40px;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 100px;
    color: #777777;
    position: relative;
  }

.container-contact {
    width: 960px;
    height: 800px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 40px;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 100px;
    color: #777777
  }

.line1 {
    border: 0.5px solid #dddddd;
    left: 0;
    top: 90px;
    width: 10000%;
}

.line2 {
    border: 1px solid #dddddd;
}

.line3 {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    border: 5px solid #4aaaa5;
}

#bio-image {
    float: left;
    width: 320px;
    height: 495px;
    margin-right: 40px;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666666;
    color: #bdb8b8;
    text-align: center;
    font-size: 12px;
  }

#copyright {
    padding: 15px;
    margin-bottom: 7px;
}

.header {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    background: #ffffff;
    color: #777777;
    margin-top: 15px;
    margin-right: 180px;
    overflow: hidden;
    float: right;
  }

a {
    text-decoration: none;
    padding: 10px;
    color: #777777;
}
  
#name-box {
    float: left;
    padding: 20px;
    box-sizing: 10px;
    width: 15%;
    margin-bottom: 0px;
    margin-left: 70px;;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
  }
  
.main-bio {
    padding: 15px;
  }
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.sticky + .main-bio {
    padding-top: 100px;
  }

.header a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
  }
  
.header a.active {
    background-color: #ffffff;
    color: #4aaaa5;
  }

#portfolio {
    clear: both;
}

h4 {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 5px;
    padding: 5px;
    width: 390px;
}

.portfolio-image {
    width: 50%;
    height: 24%;
    float: left;
    position: relative; 
}


.textField1,
.textField2 { 
    padding: 10px 10px;
    height: 30px;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #494343;
  }

#textArea{
    height: 200px;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #494343;
    border-color: #bdb8b8;
}

.textName {
    color: #777777;
}

::placeholder { 
    color: #dbd8d8;
}

.button {
    background-color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}